@import './styles/theme/colors.css';

.light {
  font-family: 'Outfit', sans-serif;
  background-color:  var(--light-background);
  color: var(--light-secondary);
}

.dark {
  background-color:  var(--dark-background);
  color: var(--dark-secondary);
  height: 100% !important;
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
}