@import '../../styles/theme/colors.css';

.successful {
  color: green;
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}

.input {
  background-color: white;
}

.buttonDark {
  background-color: var(--dark-secondary-variant) !important;
}

.buttonLight {
  background-color: var(--light-secondary-variant) !important;
}

.container {
  margin-top: 10px;
  background-color: var(--secondary-background);
  padding: 30px;
}

.link {
  cursor: pointer;
}