@import '../../styles/theme/colors.css';

.successful {
  color: green;
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}

.inputDark {
  background-color: white;
}

.buttonDark {
  background-color: var(--dark-secondary-variant) !important;
}

.buttonLight {
  background-color: var(--light-secondary-variant) !important;
}