:root {
  --dark-background: #121212;
  --dark-primary: #121212;
  --dark-secondary: #b073f9;
  --dark-secondary-variant: #441d9f;
  --dark-nav: #1F1B24;
  --dark-input: #ffffff;
  
  --card-secondary: pink;
  --secondary-background: #edf5f4;

  --light-background: #ffffff;
  --light-primary: #121212;
  --light-secondary: #2497C8;
  --light-secondary-variant: #2391C0;
  --light-nav: #2391C0;
  --light-input: #ffffff;
  
  --black: #000000;
  --white: #ffffff;
  --red: red;
  --green: green;
}