:root {
  --dark-background: #121212;
  --dark-primary: #121212;
  --dark-secondary: #bb86fc;
  --dark-secondary-variant: #6200ee;
  --dark-nav: #1F1B24;
  --dark-input: #ffffff;
  
  --card-secondary: pink;
  
  --black: #000000;
  --white: #ffffff;
  --red: red;

  --light-secondary-variant: #1976d2;
}