@import '../../styles/theme/colors.css';

.cardContainer {
  max-width: 520px;
  min-height: 350px;
  border: 1px solid var(--black);
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  width: 50%;
}

.cardDark {
  background-color: var(--dark-input);
  color: var(--dark-primary);
}

.cardHeading {
  text-align: center;
}

.cardFlipContainer {
  margin-top: 15px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateX(var(--rotate-x, 0deg))
    translateX(var(--translate-x, 0));
}

.card.flip {
  --rotate-x: 180deg;
}

.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
}

.card .back {
  transform: rotateX(180deg);
}

.end {
  color: var(--red);
}

.darkbutton {
  background-color: var(--dark-secondary-variant) !important;
}

.prompt {
  color: var(--red);
}

.answer {
  color: var(--green);
}

.option {
  min-width: 15ch;
  max-width: 30ch;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  cursor: pointer;
  line-height: 1.1;
  background-color: var(--white);
}

.input {
  display: flex;
  justify-content: flex-end;
  margin: 30px;
}

@media only screen and (min-width: 600px) {
  p {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 2rem;
  }
}
