@import '../../styles/theme/colors.css';

.createOption {
  margin: 10px;
}

.createOptionIcon {
  width: 1.5rem;
  height: auto;
  margin-left: 5px;
}

.error {
  color: var(--red);
}

.inputDark {
  background-color:  var(--dark-input);
}

.inputLight {
  background-color:  var(--light-input);
}

.darkbutton {
  background-color: var(--dark-secondary-variant) !important;
}

.lightbutton {
  background-color: var(--light-secondary-variant) !important;
  color: white;
}

.container {
  background-color: var(--secondary-background);
  padding: 30px;
}

.head {
  margin-top: 30px;
}