@import '../../styles/theme/colors.css';

.selectionDark {
  background-color: var(--dark-input);
  margin-left: 0 !important;
}

.selectionLight {
  background-color: var(--light-input);
  margin-left: 0 !important;
}