.update_form {
  width: 80%;
  margin: 0 auto !important;
  display: block !important;
}

.update_input {
  margin-bottom: 10px !important;
}

.inputDark {
  background-color: white;
  margin-bottom: 10px !important;
}