@import '../../styles/theme/colors.css';

.update_form {
  width: 80%;
  margin: 0 auto !important;
  display: block !important;
}

.update_input {
  margin-bottom: 10px !important;
}

.inputDark {
  background-color: var(--dark-input);
  margin-bottom: 10px !important;
}

.darkbutton {
  background-color: var(--dark-secondary-variant) !important;
}

.lightbutton {
  background-color: var(--light-secondary-variant) !important;
}