@import '../../styles/theme/colors.css';

.styledTable {
  border-collapse: collapse;
  margin: 25px 0;
  width: 80%;
  min-width: 400px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: var(--secondary-background);
}

.trTHeadStyled {
  background-color: var(--light-secondary-variant);
  color: var(--white);
  text-align: left;
}

.trTHeadStyled th,
.tableHeadDark th {
  font-size: 1.25rem;
}

.tableHeadDark {
  background-color: var(--dark-secondary-variant);
  text-align: left;
}

.trTHeadStyled th,
.tableHeadDark th,
.trTBodyStyled td {
  padding: 12px 15px;
}

.trTBodyStyled {
  border-bottom: 2px solid #1976d2;
}

.loading {
  justify-content: center;
}

.darkbutton {
  background-color: var(--dark-secondary-variant) !important;
}

.lightbutton {
  background-color: var(--light-secondary-variant) !important;
}