.card_card-container {
  max-width: 520px;
  min-height: 350px;
  border: 1px solid black;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin: auto;
  overflow: hidden;
  box-shadow: 5px 10px pink;
  border-radius: 10px;
  width: 50%;
}

.card-heading {
  text-align: center;
}

p {
  font-size: 2rem;
}

.card_flip-container {
  margin-top: 15px;
}