@import '../styles/theme/colors.css';

.dark {
  background-color: var(--dark-background) !important;
  color: var(--white) !important;
}

.light {
  background-color: var(--light-background) !important;
}

.darkButton {
  background-color: var(--dark-secondary-variant) !important;
  color: var(--white) !important;
}

.lightButton {
  background-color: var(--light-secondary-variant) !important;
  color: var(--black) !important;
}

.signInColor {
  color: var(--light-secondary-variant) !important;
}