@import '../styles/theme/colors.css';

.navDark {
  background-color: var(--dark-nav) !important;
}

.navLight {
  background-color: var(--light-nav) !important;
}

.logo {
  cursor: pointer; 
}

@media only screen and (max-width: 600px) {
  .homeButton {
    display:  none !important;
  }
}